@font-face {
    font-family: "Quicksand";
    src: url("fonts/Quicksand/static/Quicksand-Bold.ttf") format("truetype");
}

html, body {
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 100vh;
    background-color: #BDE3C3;
    font-family: "Quicksand", sans-serif;
    font-size: 19px;
    color: #435663;
}

/*index css*/

#login {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #F8F7BA;
    border-radius: 50px;
    
}

#login a {
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #435663;
    text-decoration: none;
}

.log-fields {
    font-family: "Quicksand", sans-serif;
    background-color: #f7f6eb;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #435663;
}

.log-fields:focus {
    outline: none;
} 

#log-btn {
    font-family: "Quicksand", sans-serif;
    background-color: #435663;
    color: #f7f6eb;
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#log-btn:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

#log-logs {
    text-align: center;
    font-size: 12px;
    visibility: hidden;
}

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
}

footer img {
    width: 5%;
    padding:2px;
}

footer a {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
    color: white;
}

/*diary css*/

#left-content {
    width: 50%;
    height: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    padding-left: 100px;
    padding-right: 50px;
}

#emotions {
    width: calc(100% - 100px);
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: #F8F7BA;
    border-radius: 40px;
    margin-bottom: 30px;
}

#notes {
    width: calc(100% - 85px);
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #F8F7BA;
    border-radius: 40px;
    margin-bottom: 30px;
    height: 42vh;
}

#notes textarea {
    width: 90%;
    height: calc(95% - 20px);
    padding: 20px;
    font-family: "Quicksand", sans-serif;
    background-color: #f7f6eb;
    color: #435663;
    font-size: 14px;
    border: none;
    border-radius: 40px;
    resize: none;
}

#notes textarea:focus {
    outline: none;
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  width: 50px;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
   outline: 2px solid #435663;
  border-radius: 15px;
}

#day-form label {
    font-size: 15px;
}

#day-form input[type=submit] {
    display: block;
    font-family: "Quicksand", sans-serif;
    background-color: #435663;
    color: #f7f6eb;
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px auto;
}

#right-content {
    width: 50%;
}

/*newaccount css*/

#account-form label {
    font-size: 15px;
}

#account-form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F8F7BA;
    border-radius: 50px;
    margin-right: 50px;

}

#account-form input[type=submit] {
    display: block;
    font-family: "Quicksand", sans-serif;
    background-color: #435663;
    color: #f7f6eb;
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px auto;
}