@font-face {
    font-family: "Quicksand";
    src: url("fonts/Quicksand/static/Quicksand-Bold.ttf") format("truetype");
}

html, body {
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 100vh;
    background-color: #BDE3C3;
    font-family: "Quicksand", sans-serif;
    font-size: 19px;
    color: #435663;
}

#login {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #F8F7BA;
    border-radius: 50px;
    
}

.log-fields {
    font-family: "Quicksand", sans-serif;
    background-color: #f7f6eb;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #435663;
}

.log-fields:focus {
    outline: none;
} 

#log-btn {
    font-family: "Quicksand", sans-serif;
    background-color: #435663;
    color: #f7f6eb;
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#log-btn:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

#log-logs {
    text-align: center;
    font-size: 12px;
    visibility: hidden;
}

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
}

footer img {
    width: 5%;
    padding:2px;
}

footer a {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
    color: white;
}
